<template name="forgotPassword">
  <div class="forgot-password-view">
    <h1>{{t "user.resetPasswordHeader"}}</h1>
    <form id="forgot-password-form">
      <p class="error hidden general-error">
        {{t "user.sendingPasswordResetEmailFailed"}}
      </p>
      <p class="hidden success-message">
        {{t "user.passwordResetEmailSent"}}
      </p>
      <div class="fields">
        <input type="email" placeholder="{{t "user.email"}}" name="email" class="dialog-input"/>
        <input type="submit" value="{{t "user.sendResetPasswordEmailAction"}}" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</template>

<template name="resetPassword">
  <div class="reset-password-view">
    <h1>{{t "user.resetPasswordHeader"}}</h1>
    <form id="reset-password-form">
      <p class="error hidden general-error">
        {{t "user.passwordResetFailed" url="/forgot-password"}}
      </p>
      <p class="hidden success-message">
        {{t "user.passwordResetSucceeded" url="/login"}}
      </p>
      <div class="fields">
        <input type="password" placeholder="{{t "user.newPassword"}}" name="password" class="dialog-input"/>
        <input type="submit" value="{{t "user.setPasswordAction"}}" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</template>
